<link rel="stylesheet" href="../styles/stylesheet.css">

<div class="details">
    <div class="container">
    <h1>${imdb.Title}</h1>
    <p><img src="${imdb.Poster.replace('http:', 'https:')}" alt="${imdb.Title} poster" /></p>
    <p>${imdb.Year} | ${imdb.Rated}</p>
    <p class="imdb-logo"><img src="../images/IMDbLogo.png"/> :  ${imdb.imdbRating}</p>
    <p><span class="yellow"><strong>Votes</strong></span><br /> ${imdb.imdbVotes}</p>
    <p><span class="yellow"><strong>Release Date</strong></span><br /> ${imdb.Released}</p>
    <p><span class="yellow"><strong>Runtime</strong></span><br /> ${imdb.Runtime}</p>
    <p><span class="yellow"><strong>Genre</strong></span><br /> ${imdb.Genre}</p>
    <p><span class="yellow"><strong>Director</strong></span><br /> ${imdb.Director}</p>
    <p><span class="yellow"><strong>Writer(s)</strong></span><br /> ${imdb.Writer}</p>
    <p><span class="yellow"><strong>Actors</strong></span><br /> ${imdb.Actors}</p>
    <p><span class="yellow"><strong>Awards</strong></span><br /> ${imdb.Awards}</p>
    <p><span class="yellow"><strong>Plot</strong></span><br /> ${imdb.Plot}</p>
    </div>
</div>
    
    
    
    
    
