html {
  background-image: url(../images/PopcornBG_640x1080.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
}



.output {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;   
    overflow: auto; 
    
  }

.output ul {
      display: flex;
      flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
      width: 96%;
      max-width: 300px;
      margin: auto;
      margin-block-start: auto;
      margin-block-end: auto;
      margin-inline-start: auto;
      margin-inline-end: auto;
      padding-inline-start: 0px;
      border-radius: 33px;
      background-color: rgba(0, 0, 0, 0.92);
      margin-bottom: 45px;
      box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.2);
      overflow: hidden;
  }

 
.output img {
    width: 100%;
    max-width: 300px;
    border-radius: 33px;
}

 .output .imdb-logo img {
    max-width: 48px;
    max-height: 48px;
    margin-right: 6px;
    margin-left: 6px;
    border-radius: none;
  }


.output li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  
}

.output li:nth-child(2) {
    margin-top: 10px;
    width: 90%;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.output li:nth-child(3) {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
.output li:nth-child(4) {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.output li:nth-child(4) a {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color:rgba(234,215,65,0.6);
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
}
.output li:nth-child(4) a:hover {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: rgb(234,215,65);
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
}


.details {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 96%;
  background-color: rgba(0, 0, 0, 0.92);
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 0px;
  overflow: auto;
  color: #ffffff;
  border-radius: 60px;
}

.details img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  border-radius: 33px;
  margin: auto;
}

.details h1, p {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 300px;
}

.details .container {
  margin: 20px;
  max-width: 800px;
}



.details .imdb-logo img {
  display: inline;
  max-width: 48px;
  max-height: 48px;
  margin-right: 6px;
  border-radius: none;
}

.details .imdb-logo {
  font-size: 20px;
}

.yellow {
  color: rgb(234,215,65); 
}

.details  {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media (min-width: 640px){ 

  .details h1, .details p {
    text-align: left;
    display: block;
    width: 100%;
    max-width: 1080px;
}

  .details img {
    display: block;
    float: left;
    width: 100%;
    max-width: 300px;
    border-radius: 33px;
    margin-right: 50px;
    margin-bottom: 50px;
  }

html {
  background-image: url(../images/PopcornBG_1920x1080.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.output {
  display: flex;
  /* flex-wrap: wrap; */
  position: relative;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;   
  overflow: auto; 
}

.output ul {
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 0px;
  border-radius: 33px;
  background-color: rgba(0, 0, 0, 0.92);
  margin-bottom: 45px;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.output li {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}


.output img {
width: 100%;
max-width: 300px;
}

.details .container {
  margin-left: 100px;
  margin-right: 100px;
}

.details .imdb-logo img {
  max-width: 48px;
  max-height: 48px;
  margin-right: 6px;
  margin-bottom: 0;
  border-radius: none;
}
